.title-divider {
    border: none;
    border-top: 2px solid white;
    width: 100%; 
    margin: 10px 0; 
}
.paragraph-divider{
    border: none;
    border-top: 1.5px solid white;
    width: 100%; 
    margin: 10px 0; 
    margin-bottom: 30px;
}
.btn {
    width: 150px; 
    height: 60px; 
    font-size: 16px; 
}

.btn-outline-light {
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    min-width: 10rem;
    max-width: 15rem;
}

